{% extends 'base.html.twig' %}

{% block title %}Tournois{% endblock %}

{% block main %}
    <main id="mainTournois">

        {% if is_granted("ROLE_ADMIN") %}
        <div id="tournamentAddModify">
            <h2> {{ isModification ? 'Modifier un tournoi' :  'Ajouter un tournoi' }}</h2>
            {{form_start(tournamentForm)}}
                {{ form_row(tournamentForm.name, {"label": "Entrez le nom du tournoi : ",})}}
                {# {{ form_row(tournamentForm.date, {"label": "Entrez la date de creation du tournois : ",})}} #}
                {{ form_row(tournamentForm.nbrParticipant, {"label": "Entrez le nombre de participants maximum : ",})}}
                {# {{ form_row(tournamentForm.etat, {"label": "Entrez l'état du tournoi : ",})}} #}
                {{ form_row(tournamentForm.type, {"label": "Choisiez le type de tournoi : ",})}}
                {# {{ form_row(tournamentForm.result, {"label": "Resultat du tournoi : ",})}} #}
                {{form_widget(tournamentForm)}}
                <button>{{ isModification ? 'Modifier' :  'Ajouter'}}</button>
            {{form_end(tournamentForm)}}
        </div>
        {% endif %}

        <h1>Les tournois : </h1>
        {% for tournament in tournament %}
            <article>
                <img src={{asset('images/images/' ~ tournament.imageName )}} alt="image du tournoi">
                <div>
                    <h3>Tournois : {{tournament.name}}</h3>
                    <p><strong>Crée le : </strong>{{tournament.date|date('d/m/y')}}</p>
                    <p><strong>Nombre de gobelins participants : </strong>{{tournament.nbrParticipant}}</p>
                    <p><strong>Participant : </strong>
                    {% for user in tournament.user %}
                        <p>"{{user.pseudo}}"</p>
                    {% endfor %}</p>
                    <p><strong>Style : </strong>{{tournament.type.name}}</p>
                    <p><strong>Etat : </strong>{{tournament.etat}}</p>
                    <p><strong>Résultat : </strong>{{tournament.result}}</p>
                </div>
            </article>
            {% if is_granted("ROLE_ADMIN") %}
                <div id="btn_bloc">
                    <a href={{path('modify_tournaments',{'id':tournament.id})}}>modifier</a>
                    <form method="POST" onsubmit="return confirm('Confirmer la suppression?')" action="{{ path('delete_tournament',{'id': tournament.id})}}">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="_token" value="{{csrf_token('SUP' ~ tournament.id)}}">
                        <button class="btn_suppr">Supprimer</button>
                    </form>
                </div>
            {% endif %}
            {# <table class="table">
                    <thead>
                        <tr>
                            <th>Round</th>
                            <th>Joueur 1</th>
                            <th>Joueur 2</th>
                            <th>Score</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if tournament.combat is not empty %}
                            {% for combat in tournament.combat %}
                                <tr>
                                    <td>{{ combat.round }}</td>
                                    <td>{{ combat.player1.pseudo }}</td>
                                    <td>{{ combat.player2.pseudo }}</td>
                                    <td>{{ combat.score ?: 'À jouer' }}</td>
                                    <td>
                                        <form action="{{ path('update_combat', {'id': combat.id}) }}" method="post">
                                            <input type="text" name="score" placeholder="Ex: 2-1">
                                            <button type="submit">Enregistrer</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="4">Aucun combat à afficher</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table> #}
        {% endfor %}
    </main>
{% endblock %}
